{% extends "base.html" %}

{% load staticfiles %}
{% block styles %}
  body {
    background: url('{% static "img/beach.jpg" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color: white;">
    <div class="container">
      <div class="col-sm-6">
        <h1>Landing Page</h1>
        <p>This is a sample website that was created to learn the basics of Django. </p>
        <p><a class="btn btn-lg btn-default btn-block" href="#signup" role="button">Be First!</a></p>
      </div>
      <div class="col-sm-6">
        <img src="{% static 'img/iphone.jpg' %}" class="img-responsive" />  
      </div>
    </div>
  </div>

<div class="container" style="text-align:center" id="signup">
  <div class="col-sm-6 col-sm-offset-3">
    <i class="fa fa-key fa-5x"></i>
    <h1>Unlock First</h1>
      
    <form class="form-horizontal" method="POST" action=""> {% csrf_token %}
    <div class="form-group form-group-lg">
    {% if form.email.errors %}
      {% for err in form.email.errors %}
        <div class="alert alert-danger" role="alert">Your Email is required</div>
      {% endfor %}
    {% endif %}
      <div class="input-group">
        <input class="form-control" type="email" name="email" placeholder="Your email...">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success btn-lg" value="Join"/>
        </span>
      </div>
    </div>
    </form>
    <div class="row" style="text-align:center">
      <p class="lead">Sign up right now.<br/> Hear it from us first.</p>
    </div>
  </div>
</div>
<div class="container" style="width:100%">
  <div class="row featured-row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="width:100%">
  <div class="row featured-row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
        <div class="col-sm-3">
        <i class="fa fa-upload fa-3x"></i>
          <h2>Feature</h2>
          <p class="lead">
            Some feature text
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
